// Global Sass variables

// fonts

$fontTitle:   'Oswald', sans-serif;
$fontText:    'Slabo 27px', serif;

// colors

$blue-lt:     #6BA4BE;
$blue-dk:     #657E8D;
$brown-gray:  #858C82;
$beige:       #DDDAD2;
$green:       #87AF90;

$white:       #fff;
$black:       #000;


// states

$hover:       $beige;
$link:        #009fff;


// media queries

$phone:       414px;
$tablet:      768px;
$desktop:     1350px;
