// Base styles

h1,
h2,
h3,
h4 {
  color: $blue-dk;
  font-family: $fontTitle;
  line-height: 100%;
  margin-top: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: .35em;

  @media screen and (max-width: $tablet) {
    font-size: 2em;
  }
}

p,
li,
th,
td,
address {
  font: normal normal normal 18px/1.5 $fontText;
}

address {
  margin-top: 1em;
}

.mobile-only {
  display: none;

  @media screen and (max-width: $tablet) {
    display: inline-block;
  }
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contained {
  margin: 0 auto;
  max-width: 1250px;

  @media screen and (min-width: #{$phone + 1}) and (max-width: $desktop) {
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
  }

  @media screen and (max-width: $phone) {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
  }
}

#content {
  background: $white;

  .contained {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (min-width: #{$tablet + 1}) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }
    .left-col {

      h2 {
        color: $green;
        font-size: 1.25em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      p {
        color: $brown-gray;
        font-size: 16px;
      }
      @media screen and (max-width: #{$tablet}) {
        flex-basis: 100%;
        max-width: 100%;
        order: 2;
        padding: 2rem;
      }
      @media screen and (min-width: #{$tablet + 1}) {
        border-right: 1px solid lighten($brown-gray, 40%);
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
        padding-right: 3rem;
      }
    }

    .right-col {
      @media screen and (max-width: #{$tablet}) {
        flex-basis: 100%;
        max-width: 100%;
        border-bottom: 1px solid lighten($brown-gray, 40%);
        order: 1;
        padding: 2rem;
      }
      @media screen and (min-width: #{$tablet + 1}) {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
        padding-left: 3rem;
      }
    }
  }
}
