<footer>
  <div class="contained">
    <div class="col">
      <h3>Title One</h3>
      <ul>
        <li>One Thing</li>
        <li>Another Thing</li>
        <li>Two Things</li>
      </ul>
    </div>
    <div class="col">
      <h3>Two Title</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <div class="col">
      <h3>Third Title</h3>
      <address>
        333 Some Address<br>
        Portland, OR 333333
      </address>
    </div>
    <div class="col">
      <h3>Last Title That Will Be Long Enough to Wrap</h3>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
  </div>
</footer>
