<section id="header">
  <header class="contained">
    <h1>ACME, Inc.</h1>
    <div class="mobile-nav-link mobile-only">
      <span class="mobile-nav-toggle">
        <svg width="31" height="21" xmlns="http://www.w3.org/2000/svg">
          <g stroke="#FFF" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <path d="M2.5 2.5h26.306M2.5 10.5h26.306M2.5 18.5h26.306" />
          </g>
        </svg>
      </span>
    </div>
  </header>
  <nav id="navigation">
    <ul class="contained">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link Two</a></li>
      <li><a href="#">Three Is Three</a></li>
      <li><a href="#">Fourth is Best</a></li>
    </ul>
  </nav>
</section>

<div class="mobile-pullout" id="mobile-nav" style="display: none;">
  <div class="pullout-close">
    <span>X</span>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Link Two</a></li>
    <li><a href="#">Three Is Three</a></li>
    <li><a href="#">Fourth is Best</a></li>
  </ul>
</div>
